*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}
img:hover{
    transform: scale(1.6) rotate(0deg);
    z-index: 2;
}
.rightRotate{
    transform: scale(1) rotate(15deg);
}
.leftRotate{
    transform: scale(1) rotate(-15deg);
}
#container{
    width: 100%;
    height: auto;
    background-image: linear-gradient(white,teal,black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    row-gap: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
#headingOfPage{
    font-size: 4vw;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 2vw;
    font-family: "Playwrite BE VLG", cursive;
    text-shadow: 0.5px 0.5px 2px gray;
}
#bigImage{
    width: 80%;
    height: 90vh;
    background-color: rgba(0,0,0,0.458);
    position: fixed;
    top: 0px;
    z-index: 5;
    top: 3vw;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: space-evenly;
    align-items: center;
}
#img{
    width: 50%;
    height: 95%;
    background-image: url(./images/1.jpg);
    background-size: 100% 100%;
    background-position: center;
    transition: all 0.5s;
}
#img:hover{
    background-size: 110% 110%;
}
#imageName{
    font-size: 2vw;
    color: white;
    font-family: "PlayWrite BE VLG",cursive;
    text-shadow: 4px 4px 5px darkblue,-4px -4px 5px purple;
}
#close{
    font-size: 5vw;
    position: fixed;
    top: 1vw;
    right: 3vw;
    font-weight: bold;
    color: white;
    rotate: 45deg;
    cursor: pointer;
    transition: all 0.5s;
}
#close::selection{
    display: none;
}
#close:hover{
    rotate: 135deg;
    transform: scale(1.2);
}